.logo {
    width: 50px;
}

.radius-inicio {
    border-radius: 20px;
    text-align: center;
    padding: 7px 15px;
    padding-top: 3px;
    background-color: rgb(62, 162, 219);
}

.radius-check {
    border-radius: 20px;
    text-align: center;
    padding: 15px 30px;
    padding-top: 10px;
    background-color: rgb(10, 187, 63);
    color: black;
    font-size: 25px;
    border: transparent;
}

.nav-item a {
    font-weight: bold;
}

.box-style {
    border-radius: 20px;
    height: 30rem;
    padding: 10px;
    margin-top: 4rem;
    border: 2px solid black;
}

.caja h1{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: rgb(122, 130, 138);
    font-weight: bold;
}

.container-image {
    display: flex;
    justify-content: space-around; 
    gap: 1rem; 
}

.container-image img {
    margin-top: 50px;
    max-width: 40px;
    height: auto;
}

.container-image a {
    font-size: 14px;
}

.estilo-letra{
    color: rgb(122, 130, 138);
}


.gap-nav {
    display: flex;
    gap: 45rem;
}



/* MATEMATICA NIVEL 1*/
.vertical-line {
    border-left: 1px solid #ccc;
    height: 100%;
    margin: 0; 
}

.user-icon {
    width: 30px; 
    height: auto; 
}

.image-mat-niveluno {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.image-mat-niveluno a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.image-mat-niveluno img {
    margin-top: 50px;
    max-width: 40px;
    height: auto;
}



.separator {
    width: 1px; 
    background-color: black; 
}



/* MULTIPLE CHOICE */


.container > p{
    font-size: 32px;
}
.question{
    width: 75%;
}
.options{
    position: relative;
    padding-left: 40px;
}
#options label{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}
.options input{
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
    display: block;
}
.options .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}
.btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}
.btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}
.btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}
@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
}